{% load static %}




<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h4 class="section-title">Bizimle İLETİŞİME GEÇİN</h4>
                <h1 class="display-5 mb-4">Her Proje Güvenli Bir Gelecek İçin</h1>
                <div class="row g-4">
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-light" style="width: 65px; height: 65px;">
                                <i class="fa fa-2x fa-phone-alt text-primary"></i>
                            </div>
                            <div class="ms-4">
                                <p class="mb-2">TELEFON NUMARAMIZ</p>
                                <h3 class="mb-0">(532)-559-4149</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-light" style="width: 65px; height: 65px;">
                                <i class="fa fa-2x fa-envelope-open text-primary"></i>
                            </div>
                            <div class="ms-4">
                                <p class="mb-2">MAİL ADRESİMİZ</p>
                                <h3 class="mb-0">gonulinsaatgebze@gmail.com</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-light" style="width: 65px; height: 65px;">
                                <i class="fa fa-2x fa-map-marker-alt text-primary"></i>
                            </div>
                            <div class="ms-4">
                                <p class="mb-2">KONUMUMUZ</p>
                                <h3 class="mb-0">Köşklüçeime Mah. Gümüşpala Cd. No: 39 <br> Gebze/Kocaeli</h3>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="row g-3">
                    <div class="col-12 col-sm-6">
                        <input type="text" class="form-control" placeholder="Adınız" style="height: 55px;">
                    </div>
                    <div class="col-12 col-sm-6">
                        <input type="email" class="form-control" placeholder="Email Adresiniz" style="height: 55px;">
                    </div>
                    <div class="col-12 col-sm-6">
                        <input type="text" class="form-control" placeholder="Telefon Numaranız" style="height: 55px;">
                    </div>
                    <div class="col-12 col-sm-6">
                        <select class="form-select" style="height: 55px;">
                            <option selected>Konu Seçiniz</option>
                            <option value="1">Ev İncelemek İstiyorum</option>
                            <option value="1">Restorasyon Talebi</option>
                            <option value="2">Arazi Keşfi Talebi</option>
                            <option value="3">Diğer</option>
                        </select>
                    </div>
                    
                    <div class="col-12">
                        <textarea class="form-control" rows="5" placeholder="Mesajınız"></textarea>
                    </div>
                    <div class="col-12">
                        <a href="tel:+905325594149" class="btn btn-primary w-100 py-3">
                            İLETİŞİME GEÇ
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
            <!-- Google Map Start -->
    <div class="container-xxl pt-5 px-0 wow fadeIn" data-wow-delay="0.1s">
        <iframe class="w-100 mb-n2" style="height: 450px;"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3020.4057241274327!2d29.40927738474775!3d40.7970772975887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cadf8108d12827%3A0x566ba7da97902fd9!2zR8O2bsO8bCBJbsWfYWF0!5e0!3m2!1str!2str!4v1735070829355!5m2!1str!2str"
            frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <!-- Google Map End -->
    </div>
</div>