{%load static %}


<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h4 class="section-title">Neler Yaptık?</h4>
                <h1 class="display-5 mb-4">Gönülden İnandık, Beraber Büyüdük, Güçlü Yapılarla Geleceği İnşa Ettik!</h1>
                <p class="mb-4">Yılların deneyimiyle, güvenli ve sağlam yapılar inşa ederek yaşam alanlarınıza değer katıyoruz. Her projede kaliteden ödün vermeden, geleceğinizi inşa ediyoruz</p>
                <div class="row g-4">
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" src="{% get_media_prefix %}img/icons/family.png" alt="Icon">
                            <div class="ms-4">
                                <h3>4000+ Aile</h3>
                                <p class="mb-0">Güvenli, konforlu ve sürdürülebilir yaşam alanları sunarak, 4000'den fazla aileye huzurlu bir yaşam sağladık. Her projede kaliteyi ve müşteri memnuniyetini ön planda tutarak, ailelerin ihtiyaçlarına en uygun çözümleri üretiyoruz.</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" src="{% get_media_prefix %}img/icons/house-key.png" alt="Icon">
                            <div class="ms-4">
                                <h3>3000+ Yuva</h3>
                                <p class="mb-0">Bugüne kadar 3000'den fazla yuva inşa ettik. Her bir projede, ailelerin güvenli ve konforlu bir yaşam sürebilmesi için titizlikle çalıştık. Modern tasarımlar ve kaliteli inşaat anlayışımızla, mutlu yuvalara imza attık.</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" src="{% get_media_prefix %}img/icons/concrete-mixer.png" alt="Icon">
                            <div class="ms-4">
                                <h3>215.000 m³ Beton</h3>
                                <p class="mb-0">Projelerimizde 215.000 m³ beton kullanarak sağlam ve güvenilir yapılar inşa ettik. Her bir proje, dayanıklılık ve uzun ömürlülük ilkesiyle tasarlandı, beton kullanımıyla güvenli yaşam alanları sunuyoruz.</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="feature-img">
                    <img class="img-fluid" src="{% get_media_prefix %}img/ev-alma.jpg" alt="">
                    <img class="img-fluid" src="{% get_media_prefix %}img/banner-1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>