{% load static %}

<div class="container-xxl project py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h4 class="section-title">Son Projelerimizi İnceleyin</h4>
            <h1 class="display-5 mb-4">Hayallerinizin Yapılarına Gönülden Dokunuyoruz</h1>
        </div>
        <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-lg-4">
                <div class="nav nav-pills d-flex justify-content-between w-100 h-100 me-4">
                    {% for project in projects %}
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4 {% if forloop.first %}active{% endif %}" data-bs-toggle="pill" data-bs-target="#tab-pane-{{ forloop.counter }}" type="button">
                        <h3 class="m-0">{{ project.project_name }}</h3>
                    </button>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-8">
                <div class="tab-content w-100">
                    {% for project in projects %}
                    <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="tab-pane-{{ forloop.counter }}">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="{{ project.project_image.url }}" style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h1 class="mb-3">{{ project.project_name }}</h1>
                                <p class="mb-4">{{ project.project_description }}</p>
                                <p><i class="fa fa-check text-primary me-3"></i>{{ project.building_features1 }}</p>
                                <p><i class="fa fa-check text-primary me-3"></i>{{ project.building_features2 }}</p>
                                <p><i class="fa fa-check text-primary me-3"></i>{{ project.building_features3 }}</p>
                                <a href="{% url 'gallery' %}" class="btn btn-primary py-3 px-5 mt-3">Galeri</a>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
