{% load static %}

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h4 class="section-title">Hizmetlerimiz</h4>
            <h1 class="display-5 mb-4">Bırakmaya Değer Miraslar</h1>
        </div>
        <div class="row g-4">
            {% for service in services %}
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex position-relative text-center h-100">
                    <img class="bg-img" src="{{ service.image.url }}" alt="{{ service.name }}">
                    <div class="service-text p-5">
                        <img class="mb-4" src="{{ service.icon.url }}" alt="Icon">
                        <h3 class="mb-3">{{ service.name }}</h3>
                        <p class="mb-4">{{ service.description }}</p>
                        <!-- <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Read More</a> -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
